<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JamCentral</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JamCentral</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
    <script type="text/x-handlebars-template" id="notifications-template">
        <ul class="notifications">
            <% _.each(notifications, function(notification){
                %>
            <li>
                <% if(notification.type == 1) {%>
                <span class="highlight"><%= notification.gig.artist.name%></span> has cancel the gig at <%= notification.gig.location%> the <%= moment(notification.gig.date).format("D MMM HH:mm")%>
                <% }%>

                <% if(notification.type == 2) {%>
                <span class="highlight"><%= notification.gig.artist.name%></span> has modify the gig from <%= notification.gigPreviousLocation%> the <%=moment(notification.gigPreviousDateTime).format("D MMM HH:mm")%> to <%= notification.gig.location%> the <%= moment(notification.gig.date).format("D MMM HH:mm")%>
                <% }%>

                <% if(notification.type == 3) {%>
                <span class="highlight"><%= notification.gig.artist.name%></span> has added a new gig at <%= notification.gig.location%> the <%=moment(notification.gig.date).format("D MMM HH:mm")%>
                <% }%>
            </li>
                <%
            })%>
        </ul>
    </script>

    <script>
        $(document).ready(function () {
            $.getJSON("/api/notifications", function (notifications) {
                if (notifications.length == 0) {
                    $(".fa-bell").removeClass("fas")
                        .addClass("far");
                    $(".notifications").popover({
                        html: true,
                        title: "Notifications",
                        content: function () {
                            return "Sorry, you got no news for today"
                        },
                        placement: "bottom"
                    });
                    return;
                }

                $(".js-notifications-count")
                    .text(notifications.length)
                    .removeClass("hide");

                $(".notifications").popover({
                    html: true,
                    title: "Notifications",
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());
                        var html = compiled({notifications: notifications});

                        return html;
                    },
                    placement: "bottom"
                }).on("shown.bs.popover", function () {
                    $.ajax({
                        url: '/api/notifications',
                        method: 'PUT',
                    })
                    .done(function () {
                        $(".js-notifications-count")
                            .text("")
                            .addClass("hide");
                        $(".fa-bell").removeClass("fas")
                            .addClass("far");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
                });

                $('.popover-dismiss').popover({
                    trigger: 'focus'
                })
            });

        });
    </script>
</body>
</html>
