@model JamCentral.ViewModels.GigsViewModel
@{
    ViewBag.Title = @Model.Header;
}

<h2>@Model.Title</h2>

@using(Html.BeginForm("Search","Home"))
{
    <div class="form-group">
        <div class="input-group mb-3">
            @Html.TextBoxFor(m => m.Search, new { @class = "form-control", placeholder = "Search for Artist, Genre, Location ..."})
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <button type="submit" class="btn" id="button-addon2">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    }

    <ul class="gigs">
        @foreach (var gig in Model.upcomingGigs)
        {
            <li>
                <div class="date">
                    <div class="month">@gig.Date.ToString("MMM")</div>
                    <div class="day">@gig.Date.ToString("d ")</div>
                </div>
                <div class="details">
                    <span class="artist">
                        @gig.Artist.Name
                        @if (Model.showActions)
                        {
                            if (Model.User.Followees.Any(a => a.ArtistId == gig.ArtistId))
                            {
                                <button class="btn btn-link btn-sm disabled">Folowing</button>
                            }
                            else
                            {
                                <button data-artist-id="@gig.ArtistId" class="btn btn-link btn-sm js-toggle-follow">Follow</button>
                            }
                        }
                    </span>
                    <span class="genre">@gig.Genre.Name</span>
                    @if (gig.IsCanceled)
                    {
                        <span>Canceled</span>
                    }
                    @if (Model.showActions)
                    {
                        if (Model.User.Attendences.Any(a => a.GigId == gig.Id))
                        {
                            <button class="btn btn-light btn-sm float-right disabled">Booked</button>
                        }
                        else
                        {
                            <button data-gig-id="@gig.Id" class="btn btn-light btn-sm float-right js-toggle-attendance">Book</button>
                        }
                    }
                </div>
            </li>
        }
    </ul>

    @section scripts
{
        <script>
            $(document).ready(function () {
                $(".js-toggle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendences", { GigId: button.attr("data-gig-id") })
                        .done(function () {
                            button
                                .removeClass("btn-light")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                });
                $(".js-toggle-follow").click(function (e) {
                    var link = $(e.target);
                    $.post("/api/followings", { ArtistId: link.attr("data-artist-id") })
                        .done(function () {
                            link.text("Following");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                });

            });
        </script>
    }

