@model IEnumerable<JamCentral.Models.Gig>
@{
    ViewBag.Title = "My upcoming Gigs";
}

<h2>My upcoming Gigs</h2>

<ul class="gigs">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">@gig.Date.ToString("MMM")</div>
                <div class="day">@gig.Date.ToString("d ")</div>
            </div>
            <div class="details">
                <span class="artist">@gig.Location</span>
                <span class="genre">@gig.Genre.Name</span>
                @if (gig.IsCanceled)
                {
                    <span>Canceled</span>
                    <div class="action">
                        <a href="#" class="js-uncancel-gig" data-gig-id="@gig.Id">Uncancel</a>
                    </div>
                }
                else
                {
                    <div class="action">
                        <a href="@Url.Action("Edit", "Gigs", new { gigId = gig.Id})">Edit</a> |
                        <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">Cancel</a>
                    </div>
                }
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-gig").click(function (e) {
                var link = $(e.target);
                bootbox.dialog({
                    title: 'Confirm',
                    message: "Are you sure you want to cancel this gig?",
                    buttons: {
                        cancel: {
                            label: "No",
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        ok: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/gigs/" + link.attr("data-gig-id"),
                                    method: "DELETE"
                                })
                                .done(function () {
                                    link.parents("li").fadeOut(function () {
                                        $(this).remove();
                                    });
                                })
                                .fail(function () {
                                    alert("Something failed!");
                                });
                            }
                        }
                    }
                });
            });

            $(".js-uncancel-gig").click(function (e) {

                var link = $(e.target);
                bootbox.dialog({
                    title: 'Confirm',
                    message: "Are you sure you want to Uncancel this gig?",
                    buttons: {
                        cancel: {
                            label: "No",
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        ok: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/gigs/" + link.attr("data-gig-id"),
                                    method: "PUT"
                                })
                                .done(function () {
                                    link.text("Uncanceled");
                                    link.parent("div").removeClass("action");
                                    $("div .details span:nth-child(3)").remove();
                                })
                                .fail(function () {
                                    alert("Something failed!");
                                });
                            }
                        }
                    }
                });                   
            })
        });
    </script>   
}